-e .

aws-cdk.core
aws-cdk.aws_apigateway
aws-cdk.aws-lambda
aws-cdk.aws-ecr-assets
aws-cdk.aws-secretsmanager
aws-cdk.aws-kms
aws-cdk.aws-s3
aws-cdk.aws-ecs-patterns
aws-cdk.aws-rds
aws-cdk.aws-ec2
aws-cdk.aws-iam
aws-cdk.aws-efs
aws-cdk.aws-cloudfront
aws-cdk.aws-iot
aws-cdk.aws-greengrassv2
aws-cdk.aws-dynamodb
aws-cdk.aws-codebuild
aws-cdk.aws_codepipeline_actions
aws-cdk.aws_codepipeline
aws-cdk.aws_codecommit
aws-cdk.aws_stepfunctions
aws-cdk.aws_stepfunctions_tasks

pyyaml